body {
    background-color: black;
    color: white;
}

h2 {
	color: white;
	text-align: justify;
	padding: 15px;
	font-family: Helvetica;
	margin-bottom: 10px;
}

h1 {
    color: white;
    text-align: justify;
    padding: 15px;
    margin: auto;
    margin-bottom: 10px;
    font-family: Helvetica;
    font-size: xx-large;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    font-family: Helvetica;
    font-size: small;
}

p {
    color: white;
    text-align: justify;
    padding: 15px;
    margin: auto;
    font-family: monospace;
    font-size: medium;
}

pre {
    padding: 15px;
    margin: inherit auto;
}

code {
    color: #00AA00;
}

li {
    list-style-type: none;
    padding: 5px;
}

a {
    text-decoration: none;
    font-size: inherit;
    font-weight: bold;
    color: #0000AA;
    font-family: inherit;
}

ul {
    text-align: justify;
    margin: inherit;
    font-family: monospace;
    font-size: small;
}
